body,
html {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

html {
    background: #0097A7;
    font-family: "Ubuntu", Cantarell, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    --shale-v1-accent: #2CD3FE !important;
    --shale-v1-accent-dark-tint: #041114 !important;
    --shale-v1-accent-light-tint: #fff !important;
}

body {
    --taskbar-height: 3rem;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .45), rgba(25, 25, 25, .75)), url("https://picsum.photos/500.webp?random&blur=true") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
    perspective: 2000px;
    font-size: 0.875rem;
}

a[target="_blank"]:not(.no-icon a) .title::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M256 64C256 46.33 270.3 32 288 32H415.1C415.1 32 415.1 32 415.1 32C420.3 32 424.5 32.86 428.2 34.43C431.1 35.98 435.5 38.27 438.6 41.3C438.6 41.35 438.6 41.4 438.7 41.44C444.9 47.66 447.1 55.78 448 63.9C448 63.94 448 63.97 448 64V192C448 209.7 433.7 224 416 224C398.3 224 384 209.7 384 192V141.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6C156.9 298.1 156.9 277.9 169.4 265.4L338.7 96H288C270.3 96 256 81.67 256 64V64zM0 128C0 92.65 28.65 64 64 64H160C177.7 64 192 78.33 192 96C192 113.7 177.7 128 160 128H64V416H352V320C352 302.3 366.3 288 384 288C401.7 288 416 302.3 416 320V416C416 451.3 387.3 480 352 480H64C28.65 480 0 451.3 0 416V128z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    color: transparent;
    content: "(opens in new tab)";
    display: inline-block;
    font-size: 0;
    height: .875rem;
    margin-left: .25rem;
    vertical-align: text-top;
    width: .875rem;
  }

.aurora-panel {
    background-image: url("/assets/aurora.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #396393;
    border-bottom: none;
    border-radius: 0.3em 0.3em 0 0;
    box-sizing: border-box;
    color: white;
    padding: 1em;
    text-shadow: 0px 2px 4px #00000099;

    >.left {
        float: left;
        padding-right: 1em;
    }

    >.right h1 {
        font-size: 2.5em;
        margin-bottom: 0;
        margin-top: 0.3em;
    }
}

.card {
    animation: 0.3s ease pop-out;
    background-image: linear-gradient(45deg,
            #3E97EA4a 0%, #347FC752 16%,
            #72B7FC56 20%, #83BFFC5d 32%,
            #3E9EFB45 36%, #4AA2FB48 48%,
            #3A90E34a 52%, #327DC951 64%,
            #69B4FB50 68%, #73BAFC56 80%,
            #3E9EFB45 84%, #4AA2FB48 96%),
        radial-gradient(circle at 0 0, #fff8, #fff4 15%, transparent 40%),
        radial-gradient(circle at 100% 0, #fff8, #fff4 15%, transparent 40%);
    border-color: #f8fbfcef #40C7DF #2CD3FE #E2F0FAbf;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1em rgba(0, 0, 0);
    counter-reset: section;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 32px);
    max-width: 750px;
    outline: 1px solid #234245;
    padding: 16px;
}

.panel details {
    padding-bottom: 1em;

    & summary {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.25em;
        padding: 0; /** override shalecss */

        & h2 {
            color: #039;
            font-weight: 400;
            font-size: 1rem;
            margin: 0;
            min-width: max-content;
            padding-right: 0.25rem;
            order: 0;
        }

        &::before {
            background: #003399;
            clip-path: polygon(35% 35%, 50% 50%, 65% 35%, 85% 35%, 50% 65%, 15% 35%);
            content: "";
            height: 1rem;
            line-height: 1rem;
            margin: 0 0.25rem;
            order: 2;
            width: 1rem;
        }

        &::after {
            background: #b0bfde;
            content: "";
            height: 1px;
            order: 1;
            width: 100%;
        }
    }

     &[open] > summary::before {
        clip-path: polygon(65% 65%, 50% 50%, 35% 65%, 15% 65%, 50% 35%, 85% 65%);
    }
}

.details-component {
    display: block;
    text-decoration: none;
    min-width: 217px;
    width: calc(33% - 0.25em);

    > a {
        display: block;
        line-height: 48px;
        text-decoration: none;
    }

    >.shale-v1-button {
        padding: 0; /** override shalecss */
    }

    & .icon {
        float: left;
        font-size: 2.5em;
        height: 36px;
        margin: 6px 12px 6px 6px;
        text-align: center;
        width: 36px;
    }

    & .text {
        display: flex;
        flex-direction: column;
        min-height: 48px;
        justify-content: center;
        line-height: 1rem;
        text-align: left;

        /* apply style if previous sibling is not icon */
        &:first-child:not(.icon) {
            padding-left: 6px;
        }

        & strong {
            padding-bottom: 0.025em;
        }
    }

    @media (max-width: 36em) {
        flex: 1 1 100%;
    }

    &.wide {
        width: calc(50% - (0.25em * 2));

        & a {
            padding: 0.25rem 0;
        }

        & .text {
            padding-right: 1em;
        }

        @media (max-width: 48em) {
            flex: 1 1 100%;
        }
    }
}

.panel {
    background: white;
    border-radius: 0 0 0.3em 0.3em;
    border-top: none;
    border: 1px solid #396393;
    max-height: 500px;
    overflow-y: auto;
    padding: 1em;

    & ul {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25em;
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            display: block;
        }
    }
}

@keyframes pop-out {
    0% {
        opacity: 0.3;
        transform: rotateX(-25deg)scale(0.9);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg)scale(1);
    }
}

/** desktop */
.titlebar {
    cursor: move;

    & .titlebar-title {
        align-items: center;
        display: flex;
        font-size: 1rem;
        gap: 0.5rem;
        padding-left: 0;
    }

    & .buttons {
        cursor: default;

        & button {
            cursor: pointer;
            display: flex;
        }
    }
}

.titlebar-title {
    text-overflow: ellipsis;
}

.window {
    animation: 0.3s ease pop-out;
    border-radius: 4px;
    border: 1px solid var(--shale-v1-secondary-border, #d3d3d3);
    box-shadow: var(--shale-v1-shadow-moderate, 0 0 5px 0 rgba(0, 0, 0, 0.2));
    min-height: 150px;
    min-width: 300px;
    position: absolute;

    & .content {
        background: #f1f1f1;
        display: flex;
        min-height: 150px;
        min-width: 100%;
        overflow: auto;
        resize: both;

        & > iframe {
            border: none;
            width: 100%;
        }
    }

    &.minimized {
        display: none;
    }
}

.window.maximized {
    border-radius: 0;
    border: none;
    left: 0;
    top: 0;
    width: 100vw;

    & .content {
        /* 2.25rem is shale.css compat titlebar height */
        height: calc(100vh - 2.25rem - var(--taskbar-height));
        resize: none;
        width: 100%;
    }

    & .titlebar {
        border-radius: 0;
        cursor: default;
    }

}

/** taskbar **/
#taskbar-container {
    box-shadow: var(--shale-v1-shadow-subtle, 0 0 5px 0 rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column-reverse;
    height: var(--taskbar-height);
    left: 0;
    position: fixed;
    top: calc(100vh - var(--taskbar-height));
    width: unset;
    z-index: 2147483647;

    &.header {
        box-shadow: unset;
        width: unset;
    }

    & .nav {
        text-align: left;
        justify-content: flex-start;
        padding: 0;
        margin: 0;

        & .taskbar-list-item {
            display: contents;
        }

        & .taskbar-item {
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            display: inline-flex;
            gap: 0.5em;
            margin-right: 0;
            margin: 0 0.5em;
            min-width: 150px;
            padding-left: 1em;
            padding-right: 1em;

            & svg:first-of-type {
                fill: #fff;
            }
        }
    }
}

.window.maximized:not(.minimized) ~ #taskbar-container {
    width: inherit; /* returns the background of the shale.css header */
}

.snap {
    background: color-mix(in srgb, var(--shale-v1-accent-300, white), transparent 70%);
    border-radius: 5px;
    border: 1px solid var(--shale-v1-accent-700, #d3d3d3);
    box-shadow: var(--shale-v1-shadow-puffy, 0 0 5px 0 rgba(0, 0, 0, 0.2));
    box-sizing: border-box;
    height: 0;
    left: 0;
    opacity: 0;
    padding: 0.5em;
    position: absolute;
    top: -100vh;
    transition: opacity 0.125s ease;
    z-index: calc(var(--highest-z, 1) - 1);

    &.left {
        width: 50%;
    }

    &.right {
        width: 50%;
        left: 50%;
    }

    &.top {
        width: 100%;
    }

    &.visible {
        opacity: 1;
        top: 0;
        height: calc(100vh - var(--taskbar-height));
    }
}
