body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

.titlebar {
    --titlebar-padding: 0.55em;
    box-shadow: none;
    box-sizing: border-box;
    cursor: move;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: space-between;

    & .titlebar-title {
        align-items: center;
        padding: var(--titlebar-padding);
        display: flex;
        flex-grow: 1;
        font-size: 1rem;
        height: 1rem;
        font-weight: normal;
        gap: 0.5em;
        margin: 0;
    }

    & svg {
        fill: #fff;
    }

    & .icon {
        cursor: inherit;
        float: left;
        left: var(--titlebar-padding);
        line-height: 1em;
        padding: var(--titlebar-padding);
        position: absolute;
    }

    & .buttons {
        cursor: pointer;
        margin: 0;
        line-height: 1em;
        height: 2rem;
        list-style: none;
        gap: calc(var(--titlebar-padding) / 2);

        > .caption-button {
            padding: var(--titlebar-padding);
            height: 1rem;
            width: 1rem;
        }
    }
}

.titlebar-title {
    text-overflow: ellipsis;
}

.window {
    animation: 0.3s ease pop-out;
    background: #f1f1f1;
    border-radius: 4px;
    border: 1px solid var(--shale-v1-secondary-border, #d3d3d3);
    box-shadow: var(--shale-v1-shadow-moderate, 0 0 5px 0 rgba(0, 0, 0, 0.2));
    min-height: 150px;
    min-width: 300px;
    position: absolute;

    & .content {
        display: flex;
        min-height: 150px;
        min-width: 100%;
        overflow: auto;
        resize: both;

        & > iframe {
            border: none;
            width: 100%;
        }
    }

    &.minimized {
        display: none;
    }
}

.window.maximized {
    border-radius: 0;
    border: none;
    height: calc(100vh - 3rem);
    left: 0;
    top: 0;
    width: 100vw;

    & .content {
        height: calc(100vh - 0.55rem * 2 - 3rem - 1rem);
        resize: none;
        width: 100%;
    }

    & .titlebar {
        border-radius: 0;
        cursor: default;
    }

}

/** taskbar **/
.taskbar {
    box-shadow: var(--shale-v1-shadow-subtle, 0 0 5px 0 rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column-reverse;
    height: 3rem;
    left: 0;
    position: fixed;
    top: calc(100vh - 3rem);
    z-index: 2147483647;

    &.header {
        box-shadow: unset;
        /* overflow-y: auto; */
        width: unset;
    }

    & .nav {
        text-align: left;
        padding: 0;
        margin: 0;

        & .taskbar-item {
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            display: inline-flex;
            gap: 0.5em;
            margin-right: 0;
            margin: 0 0.5em;
            min-width: 150px;
            padding: 0 0.5em;

            & svg:first-of-type {
                fill: #fff;
            }
        }
    }
}

.snap {
    background: color-mix(in srgb, var(--shale-v1-accent-300, white), transparent 70%);
    border-radius: 5px;
    border: 1px solid var(--shale-v1-accent-700, #d3d3d3);
    box-shadow: var(--shale-v1-shadow-puffy, 0 0 5px 0 rgba(0, 0, 0, 0.2));
    box-sizing: border-box;
    height: 0;
    left: 0;
    opacity: 0;
    padding: 0.5em;
    position: absolute;
    top: -100vh;
    transition: opacity 0.125s ease;
    z-index: calc(var(--highest-z, 1) - 1);

    &.left {
        width: 50%;
    }

    &.right {
        width: 50%;
        left: 50%;
    }

    &.top {
        width: 100%;
    }

    &.visible {
        opacity: 1;
        top: 0;
        height: calc(100vh - 3rem);
    }
}
